.header-holder {
  min-height: 47px;
  height: inherit;

  .navbar {
    background-color: rgba(55, 55, 55, 0.8);
    width: 100%;

    .nav-link {
      color: white;
    }
  }

  @include small-desktop {
    height: 57px;
  }
}

.github-ribbon {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 999;

  .ribbon-img {
    width: 80px;
    height: 80px;

    @include small-desktop {
      width: 100px;
      height: 100px;
    }

    @include desktop {
      width: 149px;
      height: 149px;
    }
  }
}
